header {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100px;
  background-color: tomato;
  display: grid;
  grid-template-columns: 200px 1fr 200px;
}

main {
  padding-top: 100px;
  padding-bottom: 80px;
}

.container {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

#logo {
  height: 100px;
  grid-column: 1;
}

nav {
  grid-column: 2;
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#account {
  /* position: absolute;
  top: 0px;
  right: 0px;
  height: 100px;
  width: 200px;
  background-color: aquamarine; */
  background-color: bisque;
  grid-column: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login {
  position: absolute;
  top: 40px;
  right: 80px;
}

li {
  display: inline;
  margin: 50px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: tomato;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#copyright {
  /*position: absolute;
  bottom: 35px;
  right: 35px;*/
  margin: 20px auto;
}

@media (max-width: 1200px) {
  #account {
    display: none;
  }
  nav {
    left: 200px;
  }
}

@media (max-width: 840px) {
  #logo {
    display: none;
  }
  nav {
    left: 100px;
  }
  li {
    margin: 20px;
  }
}
